section.capabilities-schedule
    .container
        h3.capabilities-schedule__title Расписание курса
        .double-block
            aside.double-block__aside
            .double-block__content.double-block__content--narrow.capabilities-schedule__content
                - 
                    const capabilitiesModules = [
                        {
                            name: "Создай будущее",
                            monthsShort: "24&nbsp;октября&nbsp;— 11&nbsp;ноября",
                            months: [
                                {
                                    name: "Октябрь",
                                    date: 10, 
                                    days: [
                                        {
                                            date: 24,
                                            text: "Вебинар \"Модель компетенции Agile coach. Требования крупного бизнеса\""
                                        },
                                        {
                                            date: 29,
                                            text: "Практика",
                                            modifer: "italic"
                                        },
                                        {
                                            date: 31,
                                            text: "Осознай реальность"
                                        }
                                    ]
                                },
                                {
                                    name: "Ноябрь",
                                    date: 11, 
                                    days: [
                                        {
                                            date: "05",
                                            text: "Практика",
                                            modifer: "italic"
                                        },
                                        {
                                            date: "07",
                                            text: "Выбери действие"
                                        },
                                        {
                                            date: 12,
                                            text: "Практика",
                                            modifer: "italic"
                                        }
                                    ]
                                }
                            ]
                        },
                        {
                            name: "Мысли результатами",
                            monthsShort: "14&nbsp;ноября&nbsp;— 17&nbsp;декабря",
                            months: [
                                {
                                    name: "Октябрь",
                                    date: 10, 
                                    days: [
                                        {
                                            date: 24,
                                            text: "Проектируй будущее"
                                        },
                                        {
                                            date: 29,
                                            text: "Практика",
                                            modifer: "italic"
                                        },
                                        {
                                            date: 31,
                                            text: "Осознай реальность"
                                        }
                                    ]
                                },
                                {
                                    name: "Ноябрь",
                                    date: 11, 
                                    days: [
                                        {
                                            date: "05",
                                            text: "Практика",
                                            modifer: "italic"
                                        },
                                        {
                                            date: "07",
                                            text: "Выбери действие"
                                        },
                                        {
                                            date: 12,
                                            text: "Практика",
                                            modifer: "italic"
                                        }
                                    ]
                                }
                            ]
                        },
                        {
                            name: "Действуй осознанно",
                            monthsShort: "19&nbsp;декабря&nbsp;— 4&nbsp;февраля",
                            months: [
                                {
                                    name: "Октябрь",
                                    date: 10, 
                                    days: [
                                        {
                                            date: 24,
                                            text: "Проектируй будущее"
                                        },
                                        {
                                            date: 29,
                                            text: "Практика",
                                            modifer: "italic"
                                        },
                                        {
                                            date: 31,
                                            text: "Осознай реальность"
                                        }
                                    ]
                                },
                                {
                                    name: "Ноябрь",
                                    date: 11, 
                                    days: [
                                        {
                                            date: "05",
                                            text: "Практика",
                                            modifer: "italic"
                                        },
                                        {
                                            date: "07",
                                            text: "Выбери действие"
                                        },
                                        {
                                            date: 12,
                                            text: "Практика",
                                            modifer: "italic"
                                        }
                                    ]
                                }
                            ]
                        },
                        {
                            name: "Слушай сердцем",
                            monthsShort: "13&nbsp;февраля&nbsp;— 18&nbsp;марта",
                            months: [
                                {
                                    name: "Октябрь",
                                    date: 10, 
                                    days: [
                                        {
                                            date: 24,
                                            text: "Проектируй будущее"
                                        },
                                        {
                                            date: 29,
                                            text: "Практика",
                                            modifer: "italic"
                                        },
                                        {
                                            date: 31,
                                            text: "Осознай реальность"
                                        }
                                    ]
                                },
                                {
                                    name: "Ноябрь",
                                    date: 11, 
                                    days: [
                                        {
                                            date: "05",
                                            text: "Практика",
                                            modifer: "italic"
                                        },
                                        {
                                            date: "07",
                                            text: "Выбери действие"
                                        },
                                        {
                                            date: 12,
                                            text: "Практика",
                                            modifer: "italic"
                                        }
                                    ]
                                }
                            ]
                        },
                        {
                            name: "Реализуй возможности",
                            monthsShort: "20&nbsp;марта&nbsp;— 2&nbsp;мая",
                            months: [
                                {
                                    name: "Октябрь",
                                    date: 10, 
                                    days: [
                                        {
                                            date: 24,
                                            text: "Проектируй будущее"
                                        },
                                        {
                                            date: 29,
                                            text: "Практика",
                                            modifer: "italic"
                                        },
                                        {
                                            date: 31,
                                            text: "Осознай реальность"
                                        }
                                    ]
                                },
                                {
                                    name: "Ноябрь",
                                    date: 11, 
                                    days: [
                                        {
                                            date: "05",
                                            text: "Практика",
                                            modifer: "italic"
                                        },
                                        {
                                            date: "07",
                                            text: "Выбери действие"
                                        },
                                        {
                                            date: 12,
                                            text: "Практика",
                                            modifer: "italic"
                                        }
                                    ]
                                }
                            ]
                        }
                    ] 
                ul.capabilities-schedule__modules
                    each capabilitiesModule, i in capabilitiesModules 
                        li.capabilities-schedule__module
                            input(type="checkbox" id=`capabilities-schedule__switch-input-${i+1}`).capabilities-schedule__switch-input
                            label(for=`capabilities-schedule__switch-input-${i+1}`).capabilities-schedule__module-title                        
                                p.capabilities-schedule__module-num #{i+1+' модуль'}                        
                                span.capabilities-schedule__module-name= capabilitiesModule.name
                            
                            .capabilities-schedule__timetable       
                                .capabilities-schedule__months.capabilities-schedule__months--short !{capabilitiesModule.monthsShort}
                                ul.capabilities-schedule__months.capabilities-schedule__months--full
                                    each month in capabilitiesModule.months
                                        li.capabilities-schedule__month
                                            .capabilities-schedule__month-name= month.name
                                            ul.capabilities-schedule__days
                                                each day in month.days
                                                    li.capabilities-schedule__day
                                                        span.capabilities-schedule__date
                                                            span.capabilities-schedule__date-day= day.date
                                                            span.capabilities-schedule__date-divider &nbsp;/&nbsp;
                                                            span.capabilities-schedule__date-month= month.date
                                                        span.capabilities-schedule__day-text(class=`${day.modifer ? 'capabilities-schedule__day-text--' + day.modifer : ''}`)= day.text
                .capabilities-schedule__info
                    .capabilities-schedule__info-icon
                    - 
                        const infoList = [
                            [
                                {
                                    text: "Вебинары проходят по&nbsp;субботам с&nbsp;10:00 по&nbsp;12:00"
                                }
                            ],
                            [
                                {
                                    text: "Практика&nbsp; ",
                                    modifer: "italic"
                                },
                                {
                                    text: "проходят по&nbsp;четвергам c&nbsp;8:00 по&nbsp;10:00 и&nbsp;с&nbsp;20:00 по&nbsp;22:00"
                                }
                            ],
                            [
                                {
                                    text: "Демо-сессии&nbsp; ",
                                    modifer: "bold-blue"
                                },
                                {
                                    text: "проходят по&nbsp;субботам с&nbsp;8:00 по&nbsp;9:00"
                                }
                            ],
                            [
                                {
                                    text: "Групповой менторинг&nbsp; ",
                                    modifer: "medium"
                                },
                                {
                                    text: "проходит по&nbsp;средам с&nbsp;12:00 по&nbsp;13:30 и&nbsp;с&nbsp;20:00 по&nbsp;21:30"
                                }
                            ],
                            [
                                {
                                    text: "Групповая супервизия&nbsp; ",
                                    modifer: "bold-blue"
                                },
                                {
                                    text: "проходит по&nbsp;вторниам с&nbsp;11:00 по&nbsp;12:30 и&nbsp;с&nbsp;20:00 по&nbsp;21:30"
                                }
                            ]
                        ]
                    ul.capabilities-schedule__info-list
                        each infoItem in infoList
                            li.capabilities-schedule__info-item
                                each infoSpan in infoItem
                                    span.capabilities-schedule__info-span(class=`${infoSpan.modifer ? 'capabilities-schedule__info-span--' + infoSpan.modifer : ''}`) !{infoSpan.text}

        
        