section.capabilities-leading
    .capabilities-leading__container.container
        .capabilities-leading__double-block.double-block
            aside.capabilities-leading__aside.double-block__aside
                h3.capabilities-leading__title.double-block__title Ведущие программы
            .capabilities-leading__content.double-block__content.double-block__content--narrow
                - 
                    const leadingPersons = [
                        {
                            name: "Мария\nБалашова",
                            description: {
                                short: "Профессиональный сертифицированный коуч, PCC ICF",
                                full: "Управляющий партнер ICP Centre. Учредитель и руководитель Центра семейной культуры и развития «Радуга». Практикующий семейный психолог.\n\nКоуч для родителей — опыт работы с детьми и родителями с 1989 года, счастливая мама троих детей. "
                            },
                            img: "capabilities-leading-1.png",
                            color: "blue"
                        },
                        {
                            name: "Галина\nВдовиченко",
                            description: {
                                short: "Профессиональный сертифицированный коуч, PCC ICF",
                                full: "Управляющий партнер ICP Centre. Учредитель и руководитель Центра семейной культуры и развития «Радуга». Практикующий семейный психолог.\n\nКоуч для родителей — опыт работы с детьми и родителями с 1989 года, счастливая мама троих детей. "
                            },
                            img: "capabilities-leading-2.png",
                            color: "orange"
                        },
                        {
                            name: "Елена\nЧелокиди",
                            description: {
                                short: "Профессиональный сертифицированный коуч, PCC ICF",
                                full: "Управляющий партнер ICP Centre. Учредитель и руководитель Центра семейной культуры и развития «Радуга». Практикующий семейный психолог.\n\nКоуч для родителей — опыт работы с детьми и родителями с 1989 года, счастливая мама троих детей. "
                            },
                            img: "capabilities-leading-2.png",
                            color: "blue-gray"
                        },
                        {
                            name: "Наталья\nГульчевская",
                            description: {
                                short: "Профессиональный сертифицированный коуч, PCC ICF",
                                full: "Управляющий партнер ICP Centre. Учредитель и руководитель Центра семейной культуры и развития «Радуга». Практикующий семейный психолог.\n\nКоуч для родителей — опыт работы с детьми и родителями с 1989 года, счастливая мама троих детей. "
                            },
                            img: "capabilities-leading-1.png",
                            color: "light-green"
                        }
                    ]
                ul.capabilities-leading__persons
                    each person in leadingPersons
                        li.capabilities-leading__person
                            .capabilities-leading__person-wrp
                                .capabilities-leading__person-content(class=`capabilities-leading__person-content--${person.color}`)
                                    img(src=`images/png/${person.img}`).capabilities-leading__img
                                    .capabilities-leading__info
                                        p.capabilities-leading__name= person.name
                                        p.capabilities-leading__description.capabilities-leading__description--short !{person.description.short}
                                        p.capabilities-leading__description.capabilities-leading__description--full !{person.description.full}
                                        +button("Подробнее", ["capabilities-leading__btn"], "size-normal", "color-white", icon = null, tag = "a")
