extends ../../layouts/default

block styles
    link(rel="stylesheet" href!=`${baseDir}css/main.css?v=${Date.now()}`)
    link(rel="stylesheet" href!=`${baseDir}css/capabilities.css?v=${Date.now()}`)
    link(rel="stylesheet" href!=`${baseDir}css/font-awesome.css?v=${Date.now()}`)
    link(rel="stylesheet" href!="https://unpkg.com/swiper@6.3.2/swiper-bundle.min.css")
block content
    .capabilities
        .capabilities__group.capabilities__group--first
            .capabilities__background-wrp
                img(src="images/jpg/capabilities-start-screen-background.jpg", alt="capabilities-background").capabilities__background
            .container
                include particles/capabilities-start-screen
        .capabilities__group
            .container
                include particles/capabilities-advantages
                +programAbout('Фундаментальная программа подготовки к международной сертификации ACSTH ICF с нуля. Обеспечивает глубокое и системное погружение в профессию, помогает активировать модель коучингового мышления, выработать профессиональную этику и изучить инструменты продвижения коучинговых услуг. Учебный процесс обеспечивают более 100 специалистов — ведущие, менторы, супервизоры, ассистенты. Участником программы может стать любой желающий с любым уровнем подготовки. Обучение доступно дистанционно и очно.', 'Программа была разработана в 2015 году известным коучем, вторым в России MCC ICF Ольгой Рыбиной. Выпускниками стали более 1000 студентов из 38 стран.', 'capabilities-about')
        .capabilities__group.capabilities__group--target
            .container
                include particles/capabilities-target
        .capabilities__group.capabilities__group--gray
            include particles/capabilities-changes

block scripts
    script(src!=`${baseDir}js/common.js?v=${Date.now()}`)
    script(defer src!="https://unpkg.com/swiper/swiper-bundle.min.js")
    script(defer src!=`${baseDir}js/capabilities.js?v=${Date.now()}`)
