extends ../../layouts/default

block styles
    link(rel="stylesheet" href!=`${baseDir}css/main.css?v=${Date.now()}`)
    link(rel="stylesheet" href!=`${baseDir}css/font-awesome.css?v=${Date.now()}`)
    link(rel="stylesheet" href!="https://unpkg.com/swiper@6.3.2/swiper-bundle.min.css")
block content
    .home
        .home__group.home__group--first
            .container
                include particles/start-screen
        .home__group.home__group--blur-overlay
        .home__group.home__group--video
                include particles/video-block
        .home__group
            .container
                include particles/programs
                include particles/strengths
                include particles/stats
        .home__group
            include particles/trapezoid
        .home__group
            include particles/programs-carousel
        .home__group
            .container
                include particles/programs-test
block scripts
    script(src!=`${baseDir}js/common.js?v=${Date.now()}`)
    script(defer src!="https://unpkg.com/swiper/swiper-bundle.min.js")
    script(defer src!=`${baseDir}js/home.js?v=${Date.now()}`)
