include ../mixins/svg

mixin button(text, classes=[], size = 'size-normal', color = 'color-primary', icon = null, tag = "button", href = "#")
	case tag
		when "a"
			a(class=`button button--link button--${color} button--${size} ${classes.join(' ')}` href=href)&attributes(attributes)= text
				if icon
					+svg(icon).button__icon
		default
			button(class=`button button--${color} button--${size} ${classes.join(' ')}`)&attributes(attributes)= text
				if icon
					+svg(icon).button__icon