mixin video-preview(img, title, videoSrc, name, modalTitle)
    label.video-preview&attributes(attributes)
        .video-preview__inner
            img(src=img alt="video preview").video-preview__img
            .video-preview__body
                span.video-preview__title !{title}
                button(data-video=videoSrc data-video-name=name data-modal-title=modalTitle).video-preview__play