mixin video-preview(img, title, videoSrc, name, modalTitle, isBblack)
    label.video-preview&attributes(attributes)
        .video-preview__inner
            img(src=img alt="video preview").video-preview__img
            .video-preview__body
                .video-preview__panel(class= isBblack ? "video-preview__panel--black" : "")
                    span.video-preview__title !{title}
                    button(data-video=videoSrc data-video-name=name data-modal-title=modalTitle).video-preview__play