extends ../../layouts/default

block styles
    link(rel="stylesheet" href!=`${baseDir}css/main.css?v=${Date.now()}`)
    link(rel="stylesheet" href!=`${baseDir}css/library.css?v=${Date.now()}`)
    link(rel="stylesheet" href!="https://unpkg.com/swiper@6.3.2/swiper-bundle.min.css")
block content
    .library
        include particles/library-header
        include particles/library-kits
        .library__substrate.library__substrate--white
            include particles/library-videos
            include particles/library-podcasts
            include particles/library-books
       
block scripts
    script(src!=`${baseDir}js/common.js?v=${Date.now()}`)
    script(defer src!="https://unpkg.com/swiper/swiper-bundle.min.js")
    script(defer src!=`${baseDir}js/library.js?v=${Date.now()}`)
    script(defer src!=`${baseDir}js/helpers/video-modals.js?v=${Date.now()}`)
