extends ../../layouts/default

block styles
    link(rel="stylesheet" href!=`${baseDir}css/main.css?v=${Date.now()}`)
    link(rel="stylesheet" href!=`${baseDir}css/membership.css?v=${Date.now()}`)
block content
    .membership
        include particles/membership-wave
        include particles/membership-competence
        include particles/membership-levels
        include particles/membership-russia
        include particles/membership-epilog
       
block scripts
    script(src!=`${baseDir}js/common.js?v=${Date.now()}`)
    script(defer src!=`${baseDir}js/membership.js?v=${Date.now()}`)
