extends ../../layouts/default

block styles
    link(rel="stylesheet" href!=`${baseDir}css/main.css?v=${Date.now()}`)
    link(rel="stylesheet" href!=`${baseDir}css/news-detail2.css?v=${Date.now()}`)
    link(rel="stylesheet" href!="https://unpkg.com/swiper@6.3.2/swiper-bundle.min.css")
block content
    .news-detail2
        .news-detail2__content
            include particles/news-detail2-header
            include particles/news-detail2-card
            include particles/news-detail2-comments
            include ../about/particles/about-news
       
block scripts
    script(src!=`${baseDir}js/common.js?v=${Date.now()}`)
    script(defer src!="https://unpkg.com/swiper/swiper-bundle.min.js")
    script(defer src!="https://www.google.com/recaptcha/api.js?render=6LeU5UkaAAAAALkmPBk8OgAGsiWiT4HeLcIdVw_v")
    script(defer src!=`${baseDir}js/news-detail2.js?v=${Date.now()}`)
